.code{
background-color:black;
color:white;
padding:10px;

-moz-border-radius-bottomright: 15px;
border-bottom-right-radius: 15px;

-moz-border-radius-bottomleft: 15px;
border-bottom-left-radius: 15px;

-moz-border-radius-topright: 15px;
border-top-right-radius: 15px;

-moz-border-radius-topleft: 15px;
border-top-left-radius: 15px;
}

