<!--#include virtual="header.shtml" -->
<h1>Contact Me</h1>
<br />
If you feel you have incorrectly been banned from the forums, please feel free to contact an admin via the methods below. We will look into your details further and respond to whether or not your ban will be lifted.
<br />
<br />
If you want to make a correction or suggestion about the web site, feel free to on the forums in the suggestion thread.
<title>Contact Me</title>
<h3>Email</h3>
<a href='mailto:metulbot@gmail.com'>metulbot@gmail.com<a>
<br><br>
<h3>IRC</h3>
www.freenode.net<br>
#python-forum<br>
#robgraves<br>
