

<!--#include virtual="header.shtml" -->
<title>Downloads</title>
<br /><br />
If you wish for an added feature or modification on a program, make a request on the <a href="http://www.metulburr.com/forum/forumdisplay.php?fid=3">Forums</a> in the Suggestions thread.
<h1>Python Programs</h1>
<hr>
<h2>Terminal</h2>
<p>
<a href='download/alchemy.zip'>IRC alchemy bot</a> 
<br />An IRC bot to play the game alchemy<br>
</p>

<p>
<a href='download/metulbot.zip'>IRC general bot</a> <br>
An IRC bot with basic IRC bot features<br />
</p>
<p>
<a href='download/crapdealer.zip'>IRC crapdealer bot</a> <br>
An IRC bot that lets users play the game craps<br />
</p>
<p>
<a href='download/change_root.zip'>change root</a> <br>
A program to properly change root into another linux partition and properly exit<br />
</p>
<p>
<a href='download/codesnip.zip'>code snippet</a> <br>
A program to save/load code snippets of interest<br />
</p>
<p>
<a href='download/dirsearch.zip'>directory search</a> <br>
A program to search recursice directories for specific file extensions and give option to play/open<br />
</p>
<p>
<a href='download/extcopy.zip'>ext copy</a> <br>
A program to copy specific file extensions from recursive directories and zipped files to a specific directory<br />
</p>
<p>
<a href='download/syscheck.zip'>system info</a> <br>
A program to get system information on debian based systems<br />
</p>
<p>
<a href='download/carrier.zip'>Carrier</a> <br>
A program to get directions for carriers<br />
</p>
<p>
<a href='download/porting.zip'>Porting Guide</a> <br>
A program to search for python 2.x and/or python 3.x changes and display results<br />
</p>
<p>
<a href='download/bunnies-0.1.zip'>Radioactive Bunnies v0.1</a> <br>
A game where you try to keep the population up<br />
</p>
<p>
<a href='download/quit_smoking_terminal_v0.2.5.zip'>quit smoking terminal v0.2.5</a> <br>
A program to keep tracks of stats for quitting smokers<br />
</p>


<hr>
<h2>Pygame</h2>
<a href='download/pygame_sprite_movement.zip'>Sprite Movement</a> <br />
<p>
<a href='download/timer.zip'>Oven Timer</a> <br />
A program that mimics an oven timer<br />
</p>

<hr>


<h2>tkinter</h2>
<p>
<a href='download/quitsmoking.zip'>quit smoking v0.03</a> <br>
A program to keep tracks of stats for quitting smokers<br />
</p>
<hr>
