<!--#include virtual="header.shtml" -->
<h1>How to Root Galaxy Tab 3 7.0 Wi-Fi on Android 4.1.2 [GUIDE]</h1>
<br />
<p>
Samsung's Galaxy Tab 3 series 7in tablet runs Android 4.1.2 out of box. The Galaxy Tab 3 7.0 users can now root their tablets running on official Jelly Bean firmware.

Recognised XDA developer, Jamison904 has released a pre-rooted firmware, which is an Odin flashable file, for the Galaxy Tab 3 7.0. The pre-rooted file allows users to root their Galaxy tablets. The root file has been reported to be working fine. Besides, the developer has shared an easy root guide. 
</p>
Galaxy Tab 3 7.0 users who wish to root their tablets, may follow our step-by-step guide. IBTimes UK reminds its readers that it will not be held liable for any damage to the device. Users are advised to verify that their devices meet following requirements.
<br />
<br />
<b>
Pre-requisites 
</b>
<br />

<br />
<b>
    1) </b>Install USB Driver for Samsung Galaxy Tab 3 7.0 to transfer files between the Android device and computer.

<br />
<br />
<b>
    2) </b>Enable USB Debugging Mode on tablet to connect the Android device with the computer and use the Android SDK with it. [Press Menu>> Settings>> Applications. From there navigate and click on Development option then check USB Debugging Mode.]  

<br />
<br />
<b>
    3) </b>As the tutorial might wipe out all data of the Galaxy tablet, create a backup. If the device is having any custom recoveries such as CWM/TWRP already installed then backup the data using the recovery.      

<br />
<br />
<b>
    4) </b>The Galaxy Tab should have above 80% battery charge.

<br />
<br />
<b>
    5) </b>The device should be factory unlocked and not locked to a particular carrier.

<br />
<br />
<b>
    6) </b>The tablet will lose its manufacturer's warranty once it is rooted. However, users can reclaim the warranty back by unrooting the device later.

<br />
<br />
<b>
    7) </b>The CF-Auto-Root file works only on the Samsung Galaxy Tab 3 7.0 SM-T210 and SM-T210R. As applying this to any incorrect variant might brick the device, verify the model number of the Galaxy device by selecting Settings>> System>> About device>> Model number.    

<br />
<br />
<br />
<b>
Steps to root Galaxy Tab 3 7.0 (SM-T210/T210R) on Android 4.1.2
</b>

<br />
<br />

<b>
Step-1:

</b>
<a href='http://www.metulburr.com/download/prerooted.tar.md5'>Download</a> root package for Galaxy Tab 3 7.0 to the computer

<br />
<br />
File name: prerooted.tar.md5

<br />
<br />

<b>
Step-2: 

</b>
<a href='http://www.metulburr.com/download/AndroidJinn.com_Odin307.zip'>Download</a> Odin v3.07. Extract the Odin zip to get Odin3 v3.07.exe  

<br />
<br />

<b>
    Step-3: </b> Turn off the tablet and wait for about five to six seconds for vibration to confirm complete power off

<br />
<br />
<b>
    Step-4: </b>Place the tablet into Download Mode by pressing and holding Volume Down, Home and Power buttons together. A warning screen will appear, now press the Volume up button to continue to enter into Download Mode  

<br />
<br />
<b>
    Step-5: </b>Run Odin3 v3.07.exe as Administrator     

<br />
<br />
<b>
    Step-6: </b>Connect the tablet to the computer using USB cable while it is in the Download Mode. Wait for some time until Odin detects the device. When the tablet is connected to the computer successfully, an Added message will appear under Odin message box. Also, the ID:COM box in Odin will turn blue with the COM port number indicating successful connection 

<br />
<br />
Note: If the Added message does not come then try another USB port, try the one located at the back side of the computer. In case Odin still fails to recognise the device then re-install USB driver.   

<br />
<br />
<b>
    Step-7: </b>In Odin, click the PDA button and select the .tar.md5 root file  
<br />

<br />
<b>
    Step-8: </b>Ensure in Odin Auto Reboot and F.Reset Time check boxes are selected. But uncheck the Re-Partition option

<br />
<br />
<b>
    Step-9: </b>Double check everything and click the Start button in Odin. The installation process should begin now and would take a few minutes to complete  

<br />
<br />
<b>
    Step-10: </b>When the installation process is completed, the tablet will reboot automatically and soon a PASS message with green background will appear in the extreme left box at the top of Odin indicating successful installation. Unplug the USB cable from the tablet to disconnect it from the computer

<br />
<br />
Samsung Galaxy Tab 3 7.0 running on official Android 4.1.2 should be now rooted successfully. As the tablet boots up, open the SuperSU and update the binary.

<br />
<br />
<title>How to Root Galaxy Tab 3 7.0 Wi-Fi on Android 4.1.2 [GUIDE]</title>

<br><br>
